/* haut | droit | bas | gauche */ 

 .nav{
  margin-right: 10%;
}
.navbar-header{
  margin-left: 10%;
  
}
.generale{
  text-align: center;
  margin: 10%;
}
.checkbox{
  width: 50%;
  margin: auto;
}
.passwordOublie{
  color: rgb(207, 17, 17);
  text-align: center;
}