/* haut | droit | bas | gauche */ 

 .nav{
  margin-right: 10%;
}
.navbar-header{
  margin-left: 10%;
  
}
.generale{
  text-align: center;
  margin: 10%;
}
.checkbox{
  width: 50%;
  margin: auto;
}
#pge{display:block;width:auto;margin:0 auto;background-color:#ffd;padding:5px;text-align:center;}
input {text-align:center;}
.red {color:#f00;font-weight:bold;}

.circle{
  margin: 10% 20% 10% 50%;
  width:100px;
  height:100px;
  text-align:center;
  border-radius:100px;
  border: 1px;
  border: 1px solid rgb(151, 18, 0);
  line-height: 90px; 
}