<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
  
</head>
<body>
  <a href="{{ url_for('index')}}" title="Zoom out" role="button" ><img width="20%" src="static/img/logo.png" alt=""></a>
   
  <div class="container  ">
    
    <form method="post" class="form-horizontal checkbox">
      <h1 style="color: rgb(107, 73, 151);">Connetcez-vous à votre compte </h1>
      <h1 style=" margin-left: 22%; color: rgb(107, 73, 151);"> Skills Of Life </h1>
   
      <div class="form-group">
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">          
          <input type="password" class="form-control" id="pwd" placeholder="Entrez votre mot de passe" name="pwd">
        </div>
      </div>
      <div class="form-group">     
        <div class=" row ">
          <label class="col-sm-4 col-sm-offset-2"><input type="checkbox" name="remember"> Se souvenir de moi</label>
        
        </div>
        <br> <button type="submit" class="col-sm-offset-2 col-sm-3  btn btn-primary">Se connecter</button>
        <br>
      </div>
       <a  href="#" style="color: rgb(156, 156, 156);margin-left: 15%;"> mot de passe oublié?</a> <br>
     <p style="margin-bottom: 10%;"> Vous n'avez pas encore de compte ? <a href="{{ url_for('inscription')}}">Inscrivez-vous gratuitement</a> <br>     </p>
    </form>

  </div>
</body>
</html>
{% include "footer.html" %}