<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skills Of Life</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
  <script src="static/js/main.js"> </script>
</head>
<body>
 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: rgb(209, 106, 10) ; font-size: 30px;">Skills Of Life</a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#Inscription"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-euro"></span> Don</a></li>
    </ul>
  </div>
</nav>
<div class=" text-center">
  <a href="#" title="Zoom out" role="button" ><img width="20%" src="static/img/logo.png" alt=""></a>

  <form class="rechercher row" action="/action_page.php" style=" margin: 5% 20% 10px 20%; ">
    <div class="form-group col-sm-9">
      <input type="text" class="form-control" placeholder="Que voulez-vos apprendre aujourd'hui?">
    </div>
    <div class="col-sm-3" style="margin-top: -1%;"> 
        <button type="submit" class="btn btn-default ">RECHERCHER</button>
    </div>  
  </form>
</div><br> 

<div class="">
  <div class="row">
    <h4 class="text-center">
        <strong> 
          Vous n’avez pas d’idées? Pas de  problème!<br>
          Aujourd’hui nous vous proposons:
        </strong> 
    </h4> <br>

    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <a href="#" title="Zoom out" role="button" ><img width="100%" src="static/img/java.jpg" alt=""></a>
      <h3>Devenir développeur JAVA</h3>
      <p>Vous voulez devenir DÉVELOPPEUR JAVA et vous ne savez pas PAR QUOI COMMENCER ? Vous êtes au bon endroit !</p>
      </div>
    <div class="col-sm-3">
      <a href="#" title="Zoom out" role="button" ><img width="100%" src="static/img/cusine.png" alt=""></a>
      <h3>Apprendre à cuisiner</h3>
      <p>
      Les Français se sentent capables de faire un peu plus de la moitié (8,4 plats) des 16 grands classiques de la cuisine française  proposés par l’enquête Ipsos : les crêpes, la tarte aux pommes, la quiche lorraine, le gratin dauphinois, la pizza, la mayonnaise, la mousse au chocolat, le boeuf bourguignon, la blanquette de veau, le gigot d’agneau, l’île flottante, la charlotte aux fraises, la sole meunière, le couscous, le cassoulet et la soupe de poissons.
      
      Et vous, seriez-vous capables de réaliser ces plats ?
      
      Pas de panique si la réponse est non, Superprof est là pour vous y aider gratuitement grâce à des supports sur internet.</p>
    </div>
    <div class="col-sm-3">
      <a href="#" title="Zoom out" role="button" ><img width="100%" src="static/img/astronaute.png" alt=""></a>
      <h3>To become an astronaut</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

  



</body>
<footer>

  <div class="footer row">
    <div class="col-sm-3"> 
        <h4>Skills Of Life</h4><br>
      <a class="foo" href="#"> Forum</a> <br>
      <a class="foo" href="#"> Blog</a>
    </div>
    <div class="col-sm-3"> 
        <h4>Nous contacter</h4><br>
        
            
          
              <a class="foo" href="#">
                    <span class="glyphicon glyphicon-earphone"></span>
                </a><br>
            
              <a class="foo" href="#">
                    <span class="glyphicon glyphicon-envelope"></span>
                </a>
        <br>
          
              <a class="foo" href="#">FAQ</a>
            <br>
            <a class="foo" href="#">Nous rejoindre</a>
        
    </div>
    <div class="col-sm-3"> 
        <h4> confidentialité</h4><br>
      <a class="foo" href="#">Conditions générales d'utilisation</a><br>
      <a class="foo" href="#">Politique de Protection des données personnelles</a>
    </div>
    <div class="col-sm-3"> 
      <h4></h4>
        <form>
            <div class="form-group row">
              <!-- <div class="col-sm-1">  <a href="#"  class="glyphicon glyphicon-globe">
                
                </a></div> -->
                <div class="col-sm-11 pull-right">
                    <select class="form-control" id="sel1">
                        <option>Français</option>
                        <option>English</option>
                    </select>
                </div>
            
            </div>
        </form><br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"> <a class="foo" href="#" ><img width="100%" height="25px" src="static/img/facebook.png" alt=""></a></div>
            <div class="col-sm-2"><a  class="foo" href="#" ><img width="100%" height="25px"  src="static/img/tweeter.png" alt=""></a></div>
            <div class="col-sm-2"> <a class="foo" href="#" ><img width="100%" height="25px"  src="static/img/linkedin.png" alt=""></a></div>
            <div class="col-sm-2"><a class="foo" href="#" ><img width="100%" height="25px"  src="static/img/instagram.png" alt=""></a></div>
            <div class="col-sm-2"><a class="foo" href="#" ><img width="100%" height="25px"  src="static/img/youtube.png" alt=""></a></div>
            <div class="col-sm-1"></div>
        </div>
    </div>
  </div>

</footer>
</html>
