<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
        <title>{% block title %} skills of life {% endblock %}</title>
      </head>
      <body>
       
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: rgb(209, 106, 10) ; font-size: 30px;">Skills Of Life</a>
              </div>
             
              <ul class="nav navbar-nav navbar-right">
                <li><a a href="{{ url_for('inscription')}}"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
                <li><a href="{{ url_for('connexion')}}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                <li><a href="{{ url_for('don')}}"><span class="glyphicon glyphicon-euro"></span> Don</a></li>
              </ul>
            </div>
          </nav>
            
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    
    
          
    </body>
    </html>
    
          