    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <a href="{{ url_for('index')}}" title="Zoom out" role="button" ><img width="90px" src="static/img/logo.png" alt=""></a>
    <h1 style="text-align: center; font-size: 50px;">Inscription</h1>
   
    <div class="generale">
 
    <div class="row "> 
        <div class="col-lg-6">
            
            Inscrivez-vous et commencez votre formation préférée sur Skills Of Life
            <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                  <label class="control-label col-sm-6" for="email">Email:*</label>
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="pwd">Mot de passe :*</label>
                  <div class="col-sm-6">          
                    <input type="password" class="form-control" id="pwd" placeholder="Entrez votre mot de passe" name="pwd" required>
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6" for="pwd1">Confirmez votre mot de passe:*</label>
                    <div class="col-sm-6">          
                      <input type="password" class="form-control" id="pwd1" placeholder="Confirmez votre mot de passe" name="pwd1" required>
                    </div>
                  </div>
                <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label><input type="checkbox" name="remember"> Se souvenir de moi</label>
                    </div>
                  </div>
                </div>
                
              </form>
            
        </div>
        <div class="col-lg-6">
           <p style="color: rgb(105, 191, 218);"> Completez votre profile</p>
           
            <style>
            
            
            .container {
              width: 80%;
              background-color: #ddd;
            }
            
            .skills {
              text-align: right;
              padding-top: 10px;
              padding-bottom: 10px;
              color: white;
            }
            
            .html {width: 90%; background-color: #4CAF50;}
            .css {width: 80%; background-color: #2196F3;}
            .js {width: 65%; background-color: #f44336;}
            .php {width: 60%; background-color: #808080;}
            </style>
            </head>
            <body>
            
            
           
            <div class="row">
                <div class="col-sm-2"> Biographie</div>
                <div class="container col-sm-10">
                  <div class="skills html">90%</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-2"> CSS</div>
                <div class="container col-sm-10">
                <div class="skills css">80%</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-2"> JS</div>
                <div class="container col-sm-10">
                <div class="skills js">65%</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-2"> PHP</div>
                <div class="container col-sm-10">
                <div class="skills php">60%</div>
                </div>
            </div>
            
            </body>
            </html>
        </div>
    </div>
    <div class="row">
        <br> <p>Informations complémentaires <br> Plus vous donnerez d'informations  au plus les recherches seront précises et sera facile à vos amis de vous retrouver </p><br>
       
        <div class="col-sm-6">
            
            <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                  <label class="control-label col-sm-6" for="nom">Nom</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom" name="nom">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="prenom">Prenom:</label>
                  <div class="col-sm-6">          
                    <input type="text" class="form-control" id="prenom" placeholder="Entrez votre prenom" name="prenom">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6" for="dateNaiss">Date de naissance:</label>
                    <div class="col-sm-6">          
                      <input type="date" class="form-control" id="dateNaiss" placeholder="2021-03-17" name="dateNaiss">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6" for="pays">pays:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="pays">
                          <option>France</option>
                          <option>Angleterre</option>
                      </select>
                    </div>
                </div>
              </form>
        </div>
        <div class="col-sm-6">
            <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                    <label class="control-label col-sm-6" for="ville">Ville:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ville">
                          <option>Paris</option>
                          <option>Nice</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="nation">Nationnalité:</label>
                  <div class="col-sm-6">
                    <select class="form-control" id="nation">
                        <option>Français</option>
                        <option>US</option>
                    </select>
                </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="domaine">Domaine d'études:</label>
                  <div class="col-sm-6">          
                    <select class="form-control" id="domaine">
                        <option>Informatique</option>
                        <option>Mathématiques</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6" for="niveau">Niveau d'études:</label>
                    <div class="col-sm-6">          
                        <select class="form-control" id="niveau">
                            <option>Bac + 4</option>
                            <option>Bac + 3</option>
                        </select>
                    </div>
                </div>
                
              </form>
              <br>
          <a href="{{ url_for('connexion')}}" type="submit" class="btn btn-primary pull-right">S'inscrire</a>
        </div>
    </div>
   
</div>

{% include "footer.html" %}