<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/css/style.css">
<a href="{{ url_for('index')}}" title="Zoom out" role="button" ><img width="90px" src="static/img/logo.png" alt=""></a>
<h1 style="text-align: center; font-size: 50px;">Inscription</h1>
   
<div class="generale">
  <form method="POST" class="form-horizontal"  >
    <div class="row ">
      <div class="col-lg-6">
        Inscrivez-vous et commencez votre formation préférée sur Skills Of Life
        <div class="form-group">
          <label class="control-label col-sm-6" for="email">Email:*</label>
          <div class="col-sm-6">
            <input type="email"  class="form-control" id="email" placeholder="Entrez votre email" name="email" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6"  for="pwd">Mot de passe :*</label>
          <div class="col-sm-6">
            <input type="password"  class="form-control" id="pwd" placeholder="Entrez votre mot de passe" name="pwd" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6" for="pwd1">Confirmez votre mot de passe:*</label>
          <div class="col-sm-6">
            <input type="password"  class="form-control" id="pwd1" placeholder="Confirmez votre mot de passe" name="pwd1" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Se souvenir de moi</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <p style="color: rgb(105, 191, 218);"> Completez votre profile</p>
        <style>
          .container {
            width: 80%;
            background-color: #ddd;
          }
          .skills {
            text-align: right;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
          }
          .html {width: 90%; background-color: #4CAF50;}
          .css {width: 80%; background-color: #2196F3;}
          .js {width: 65%; background-color: #f44336;}
          .php {width: 60%; background-color: #808080;}
        </style>
        <div class="row">
          <div class="col-sm-2"> Biographie</div>
          <div class="container col-sm-10">
            <div class="skills html">90%</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2"> CSS</div>
          <div class="container col-sm-10">
          <div class="skills css">80%</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2"> JS</div>
          <div class="container col-sm-10">
          <div class="skills js">65%</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2"> PHP</div>
          <div class="container col-sm-10">
          <div class="skills php">60%</div>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
      <br> <p>Informations complémentaires <br> Plus vous donnerez d'informations  au plus les recherches seront précises et sera facile à vos amis de vous retrouver </p><br>

      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-6" for="nom">Nom</label>
          <div class="col-sm-6">
            <input type="text"   class="form-control" id="nom" placeholder="Entrez votre nom" name="nom">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6" for="prenom">Prenom:</label>
          <div class="col-sm-6">
            <input type="text"  class="form-control" id="prenom" placeholder="Entrez votre prenom" name="prenom">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6" for="date_naiss">Date de naissance:</label>
          <div class="col-sm-6">
            <input type="date"  class="form-control" id="date_naiss" placeholder="2021-03-17" name="date_naiss">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6" for="pays">pays:</label>
          <div class="col-sm-6">
            <select class="form-control" id="pays" name="pays">
              <option>France</option>
              <option>Angleterre</option>
            </select>
          </div>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="form-group">
          <label class="control-label col-sm-6" for="ville">Ville:</label>
          <div class="col-sm-6">
            <select class="form-control" id="ville" name="ville"  >
              <option>Paris</option>
              <option>Nice</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6" for="nationnalite">Nationnalité:</label>
          <div class="col-sm-6">
            <select class="form-control" id="nationnalite" name="nationnalite">
              <option>Français</option>
              <option>US</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6" for="domaine_d_etude">Domaine d'études:</label>
          <div class="col-sm-6">
            <select class="form-control" id="domaine_d_etude" name="domaine_d_etude">
              <option>Informatique</option>
              <option>Mathématiques</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-6" for="niveau_d_etude">Niveau d'études:</label>
          <div class="col-sm-6">
            <select class="form-control" id="niveau_d_etude" name="niveau_d_etude">
              <option>Bac + 4</option>
              <option>Bac + 3</option>
              <option>Bac + 2</option>
              <option>Bac + 1</option>
              <option>Bac </option>
            </select>
          </div>
        </div><br>
        <button type="submit">S'inscrire</button>
      </div>
    </div>
  </form>
</div>
<!-- 

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['mail'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Post content"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %} -->

{% include "footer.html" %}