<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">
  
</head>

    
<body>
    <div><a href="{{ url_for('index')}}" title="Zoom out" role="button" ><img width="90px" src="static/img/logo.png" alt=""></a>
    </div>
    <h3 style="text-align: center;">Bienvenu dans ton espace </h3>
    <div class="circle">
                
        {% block content %}
        <h2>{% block title %} {{ post['Prenom'] }} {% endblock %}</h2>
        {% endblock %}
    </div>
    <h3 style="text-align: center;"> Tu vas bien t'amuser</h3>
</body>

</html>