<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css">

</head>

    
<body>
    <div><a href="{{ url_for('index')}}" title="Zoom out" role="button" ><img width="90px" src="static/img/logo.png" alt=""></a>
    </div>
    <h3 style="text-align: center;">Bienvenu dans ton espace <br>
        <a href="{{ url_for('connexion')}}" title="Zoom out" role="button" >Se déconnecter</a></h3>

    <div class="circle">
       {{user}}
    </div>


    <div class="row container">
        <div class="row col-md-6 container">
            <h3>SOFT SKILLS</h3>

            <h5>{{formations[0].id}} - {{ formations[0].titre }} </h5>
            <h6>{{ formations[0].description_formation }} </h6>

            <button class="btn btn-warning">
                <a role="button" href="{{formations[0].url_formation}}" target="_blank">Cliquez ici pour y accéder</a> </button>
            <form method="post">
              <input name="essai" type="hidden" value="update">
                <input name="id_user" type="hidden" value="{{iduser}}">
                <input name="theUser" type="hidden" value="{{user}}">
              <input name="id_formation" type="hidden" value="{{formations[0].id}}">
              <input name="id_sous_formation" type="hidden" value="{{sous_formations[0].id}}">
                <input name="type_sous_formations" type="hidden" value="{{sous_formations[0].type_sous_formation}}">

              <button type="submit" class="btn btn-success">Je confirme avoir terminé cette formation :)</button>
          </form>

            <div class="col-md-2">|_______</div>
            <div class="col-md-6">

                <span class="badge badge-info">{{sous_formations[0].active}}</span> <br>
                    <h5>{{sous_formations[0].id}} - {{ sous_formations[0].titre }} </h5>
                    <h6>{{ sous_formations[0].description_formation }} </h6>

                        {% if sous_formations[0].active==1 %}
                           <a href="{{sous_formations[0].url_formation}}" target="_blank">Cliquez ici pour y accéder</a>
                            {% else %}
                            <h5 style="color:red">Vous devez d'abord terminer la formation mère</h5>

                        {% endif %}

                <br><br><br><br>
            </div>


            <br><br><br><br>
                <div class="col-md-12 row container">
            <h5>{{formations[1].id}} - {{ formations[1].titre }} </h5>
            <h6>{{ formations[1].description_formation }} </h6>
             <button class="btn btn-warning">
                <a role="button" href="{{formations[1].url_formation}}" target="_blank">Cliquez ici pour y accéder</a> </button>
            <form method="post">
              <input name="essai" type="hidden" value="update">
                <input name="id_user" type="hidden" value="{{iduser}}">
                <input name="theUser" type="hidden" value="{{user}}">
              <input name="id_formation" type="hidden" value="{{formations[1].id}}">
              <input name="id_sous_formation" type="hidden" value="{{sous_formations[1].id}}">
                <input name="type_sous_formations" type="hidden" value="{{sous_formations[1].type_sous_formation}}">
              <button type="submit" class="btn btn-success">Je confirme avoir terminé cette formation :)</button>
          </form>


            <div class="col-md-2">|_______</div>
            <div class="col-md-6">

                 <span class="badge badge-info">{{sous_formations[1].active}}</span> <br>
                    <h5>{{sous_formations[1].id}} - {{ sous_formations[1].titre }} </h5>
                    <h6>{{ sous_formations[1].description_formation }} </h6>

                {% if sous_formations[1].active==1 %}
                <a href="{{sous_formations[1].url_formation}}" target="_blank">Cliquez ici pour y accéder</a>
                {% else %}
                            <h5 style="color:red">Vous devez d'abord terminer la formation mère</h5>
                {% endif %}

                <br><br><br><br>
            </div>
            </div>
        </div>

        <div class="row col-md-6 container">
            <h3>HARD SKILLS</h3>

            <h5>{{formations_hard[0].id}} - {{ formations_hard[0].titre }} </h5>
            <h6>{{ formations_hard[0].description_formation }} </h6>

            <button class="btn btn-warning">
                <a role="button" href="{{formations_hard[0].url_formation}}" target="_blank">Cliquez ici pour y accéder</a> </button>
            <form method="post">
              <input name="essai" type="hidden" value="update">
                <input name="id_user" type="hidden" value="{{iduser}}">
                <input name="theUser" type="hidden" value="{{user}}">
              <input name="id_formation_hard" type="hidden" value="{{formations_hard[0].id}}">
              <input name="id_sous_formation_hard" type="hidden" value="{{sous_formations_hard[0].id}}">
                <input name="type_sous_formations" type="hidden" value="{{sous_formations_hard[0].type_sous_formation}}">
              <button type="submit" class="btn btn-success">Je confirme avoir terminé cette formation :)</button>
          </form>

            <div class="col-md-2">|_______</div>
            <div class="col-md-6">

                <span class="badge badge-info">{{sous_formations_hard[0].active}}</span> <br>
                    <h5>{{sous_formations_hard[0].id}} - {{ sous_formations_hard[0].titre }} </h5>
                    <h6>{{ sous_formations_hard[0].description_formation }} </h6>

                        {% if sous_formations_hard[0].active==1 %}
                           <a href="{{sous_formations_hard[0].url_formation}}" target="_blank">Cliquez ici pour y accéder</a>
                            {% else %}
                            <h5 style="color:red">Vous devez d'abord terminer la formation mère</h5>

                        {% endif %}

                <br><br><br><br>
            </div>


            <br><br><br><br>
                <div class="col-md-12 row container">
            <h5>{{formations_hard[1].id}} - {{ formations_hard[1].titre }} </h5>
            <h6>{{ formations_hard[1].description_formation }} </h6>
             <button class="btn btn-warning">
                <a role="button" href="{{formations_hard[1].url_formation}}" target="_blank">Cliquez ici pour y accéder</a> </button>
            <form method="post">
              <input name="essai" type="hidden" value="update">
                <input name="id_user" type="hidden" value="{{iduser}}">
                <input name="theUser" type="hidden" value="{{user}}">
              <input name="id_formation_hard" type="hidden" value="{{formations_hard[1].id}}">
              <input name="id_sous_formation_hard" type="hidden" value="{{sous_formations_hard[1].id}}">
                <input name="type_sous_formations" type="hidden" value="{{sous_formations_hard[1].type_sous_formation}}">
              <button type="submit" class="btn btn-success">Je confirme avoir terminé cette formation :)</button>
          </form>


            <div class="col-md-2">|_______</div>
            <div class="col-md-6">

                 <span class="badge badge-info">{{sous_formations_hard[1].active}}</span> <br>
                    <h5>{{sous_formations_hard[1].id}} - {{ sous_formations_hard[1].titre }} </h5>
                    <h6>{{ sous_formations_hard[1].description_formation }} </h6>

                {% if sous_formations_hard[1].active==1 %}
                <a href="{{sous_formations_hard[1].url_formation}}" target="_blank">Cliquez ici pour y accéder</a>
                {% else %}
                            <h5 style="color:red">Vous devez d'abord terminer la formation mère</h5>
                {% endif %}

                <br><br><br><br>
            </div>
            </div>
        </div>

      </div>


</body>

</html>
